/*<------------------------------------------------------------------------------------------------------->*/
/*<--------------------------------------- MEDIA MOBIL SCREEN -------------------------------------------->*/
/*<------------------------------------------------------------------------------------------------------->*/  

@media only screen and (max-width: 600px) {

    .emelier{
        display: none;
    }

    .nav-text{
        justify-content: space-between;
    }

    h2{
        margin-top: 25%;
    }

    .hi{
        font-size: 20vw;
        top: -20%;
    }
    
    .welcome{
        font-size: 15vw;
        top: 50%;
    }

    .arr{
        left: 30%;
        font-size: 15vw;
    }

    .welcomedown{
        top: 50%;
    }

    .info-side{
        flex-direction: column;    
    }

    .roundone, .roundtwo{
        width: 100vw;
        height: 50vh;
    }

    .cirkle{
        width: 300px;
        height: 300px;
    }

    .design{
        font-size: 18.5vw;
    }

    .uses{
        font-size: 28vw;
    }

    .boxar{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .box{
        width: 100%;
        margin: 5%;
        margin-top: 30%;
    }

    .boxarabout{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .boxabout{
        width: 100%;
        margin: 5%;
        margin-top: 20%;
    }

    #box3about{
        height: 400px;
        margin-top: 10px;
    }

    #box2{
        margin-top: 12%;   
        margin-bottom: 20%; 
    }

    .comingsoon{
        font-size: 60px;
        margin-top: 65px;
    }

    .icons{
        left: 5%;
    }
    
    .icons2{
        right: 5%;
    }

    .aboutme{
        flex-direction: column;
    }
}